<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="IISFrontGuard.DefaultConnectionStringName" value="IISFrontGuard" />
		<add key="IISFrontGuardEncryptionKey" value="2946328570238497" />
		<add key="IISFrontGuard.RateLimitMaxRequestsPerMinute" value="150" />
		<add key="IISFrontGuard.RateLimitWindowSeconds" value="60" />
		<add key="TrustedProxyIPs" value="" />
		<add key="IISFrontGuard.Webhook.Enabled" value="false" />
		<add key="IISFrontGuard.Webhook.Url" value="" />
		<add key="IISFrontGuard.Webhook.AuthHeader" value="" />
		<add key="IISFrontGuard.Webhook.CustomHeaders" value="" />
		<add key="IISFrontGuard.Webhook.FailureLogPath" value="C:\Logs\webhook-failures.log" />
	</appSettings>
	<system.webServer>
		<modules>
			<add name="FrontGuardModule" type="IISFrontGuard.Module.FrontGuardModule, IISFrontGuard.Module" preCondition="managedHandler,runtimeVersionv4.0" />
		</modules>
	</system.webServer>
	<connectionStrings>
		<add name="IISFrontGuard" connectionString="Data Source=.;Initial Catalog=IISFrontGuard;Integrated Security=True;TrustServerCertificate=True;" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>